/********** base styles **********/

* {
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

#about,
#contact {
    height: 600px;
}



/********** grid **********/

.full-width {
    width: 90%;
    margin: 0 auto;
}

.half-width {
    width: 50%;
    float: left;
}

.third-width {
    width: 32.5%;
    float: left;
}

.quarter-width {
    width: 25%;
    float: left;
}



/********** header **********/

.parallax-container {
  height: 700px;
}

header {
    height: 800px;
    /*background: url(../img/skyline-background.png);*/
    background-size: cover;
}

header h1 {
    padding: 50px 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 30px;
    color: #737373;
    float: left;
}

#header-img {
  height: 80px;
  float: left;
  margin-top: 8%;
  margin-left: 4%;
  border-radius: 60px;
}

#sidebar {
  /*width: 70px; 
  margin: 15px auto;*/
  position: relative;
}

nav {
    background: none;
    /*float: right;*/
    box-shadow: none;
    position: fixed; 
    margin-left: 87%;
    z-index: 1;
}

nav ul p a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    color: #ebebeb;
    background-color: #8B0746;
}

nav ul p:hover {
    transform: scale(1.1);
    background-color: #8B0746;
}


header h2 {
    width: 1000px;
    clear: both;
    font-family: 'Lora', serif;
    font-size: 72px;
    line-height: 80px;
    color: #9b9b9b;
    padding: 20px 0;
}

header h2 span {
    color: #2b2b2b;
}



/********** about **********/

#about {
    background-color: #ebebeb;
}

#about .full-width {
    padding: 80px 0;
}

#about h2 {
    font-family: 'Lora', serif;
    font-size: 36px;
    color: #404040;
}

#about p {
    font-size: 21px;
    color: #7f7f7f;
    line-height: 42px;
    padding-right: 50px;
}



/********** skills **********/

#skills {
    background-color: #85a3e0;
    text-align: center;
    overflow: auto;
}

#skills .full-width {
    padding-top: 50px;
}

#skills img {
    padding-bottom: 50px;
}

.icon {
    height: 50%;
    width: 50%;
}



/********** work **********/

#work {
    background-color: #ebebeb;
    text-align: center;
    height: 1000px;
}

#work .full-width {
    padding: 115px 0;
}

#work h3 {
    font-size: 24px;
    width: 190px;
    margin: 0 auto;
    color: #404040;
}

#work p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    line-height: 30px;
    color: #404040;
    padding: 0 35px;
}

.card {
    background-color: #d0d5dd;
    margin-right: 5%;
    z-index: 0;
}

.card .card-content {
    padding: 5px;
}

.card .card-content .card-title {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 32px;
  color: #404040;
}

.card .card-reveal{
    background-color: #d0d5dd;
}

#third {
  margin-bottom: 80px;
}

#fourth {
  margin-top: -38px;
}

#sixth {
  margin-top: -68px;
}



/********** contact **********/

#contact {
    background-color: #a7dbd8;
}

#contact .full-width {
    padding: 110px 0;
}

#contact-email {
  margin-top: 120px;
}

#contact-img {
    border: 12px solid #ffffff;
}

#contact h2,
#email-header,
#socialmedia-header,
#contact ul {
    padding-left: 115px;
}

#envelope {
    padding: 0 10px 0 115px;
}

#contact h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 36px;
}

#contact h2,
h3 {
    color: #031634;
}

#email-header {
    font-size: 32px;
    font-weight: 400;
    margin: -30px 0 5px 0;
}

#socialmedia-header {
    font-weight: bold;
    font-size: 29px;
    margin: 40px 0 0px 0;
}

#contact a {
    text-decoration: none;
    color: #556270;
    font-weight: bold;
    font-size: 28px;
}

#contact ul {
    list-style: none;
}

#contact ul li {
    display: inline-block;
}

#contact ul img {
    padding-right: 90px;
    height: 50px;
}